@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem; 
    background: rgb(0,0,0);
    background: linear-gradient(42deg, rgba(0,0,0,0.7861345221682423) 0%, rgba(255,111,24,1) 0%, rgba(255,255,255,1) 100%); 
}